
    <!--================Main Header Area =================-->
    <header class="main_header_three">
        <div class="top_logo_header">
            <div class="container">
                <div class="header_logo_inner">
                    <div class="h_left_text">
                        <div class="media">
                            <div class="d-flex">
                                <i class="flaticon-auricular-phone-symbol-in-a-circle"></i>
                            </div>
                            <div class="media-body">
                                <a href="tel:0919567137">0919.567.137</a>
                                <p>Gọi tư vấn</p>
                            </div>
                        </div>
                    </div>
                    <div class="h_middle_text">
                        <a href="index.html"><img src="img/logo-3.png" alt=""></a>
                    </div>
                    <div class="h_right_text">
                        <a class="pink_btn" href="#">Gọi tư vấn</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="middle_menu_three">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="index.html"><img src="img/logo-2.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="my_toggle_menu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="dropdown submenu active">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Trang chủ</a>
                            </li>                            
                            <li class="dropdown submenu">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sản Phẩm</a>
                                <ul class="dropdown-menu">
                                    <li><a href="about-us.html">Loại sản phẩm 1</a></li>
                                    <li><a href="our-team.html">Loại sản phẩm 2</a></li>
                                    <li><a href="testimonials.html">Loại sản phẩm 3</a></li>
                                </ul>
                            </li>
                            <li class="dropdown submenu">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tin Tức</a>
                                <ul class="dropdown-menu">
                                    <li><a href="service.html">Tin tức</a></li>      
                                    <li><a href="faq.html">Tin hoạt động</a></li>
                                    <li><a href="what-we-make.html">Câu Hỏi Thường Gặp</a></li>
                                </ul>
                            </li>
                            <li class="dropdown submenu">
                                <a class="dropdown-toggle" href="../cau-chuyen-san-pham">Câu Chuyện Sản Phẩm</a>
                            </li>
                            <li><a href="../lien-he">Liên Hệ</a></li>
                            <li class="search_icon"><a class="popup-with-zoom-anim" href="#test-search"><i class="icon icon-Search"></i></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!--================End Main Header Area =================-->

<!-- Mirrored from designarc.biz/demos/cake/theme/cake-html/index-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 08 Jul 2021 08:56:37 GMT -->
