@{
    ViewData["Title"] = "Xin Chào .....";
}

}

@section index {
    <script src="~/api/shop_cauchuyensanpham.js"></script>
}

<!--================Slider Area =================-->
<section class="main_slider_area">
    <div id="main_slider3" class="rev_slider" data-version="5.3.1.6">
        <ul>
            <li data-index="rs-1587" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="img/home-slider/slider-6.jpg" data-rotate="0" data-saveperformance="off" data-title="Creative" data-param1="01" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                <img src="img/home-slider/slider-6.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>

                <!-- LAYER NR. 1 -->
                <div class="slider_text_box">
                    <div class="tp-caption tp-resizeme first_text black"
                         data-x="['left','left','left','15','15']" data-hoffset="['0','15','15','0']"
                         data-y="['top','top','top','top']" data-voffset="['220','220','170','170','130']"
                         data-fontsize="['65','65','65','40','30']"
                         data-lineheight="['80','80','80','50','40']"
                         data-width="['800','800','800','400']"
                         data-height="none"
                         data-whitespace="normal"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                         data-textAlign="['left','left','left','left']">Gia Nguyễn <br /> Mức Vỏ Bưởi</div>

                    <div class="tp-caption tp-resizeme secand_text black"
                         data-x="['left','left','left','15','15']" data-hoffset="['0','15','15','0']"
                         data-y="['top','top','top','top']" data-voffset="['388','388','340','290','225']"
                         data-fontsize="['20','20','20','20','16']"
                         data-lineheight="['28','28','28','28']"
                         data-width="['640','640','640','640','350']"
                         data-height="none"
                         data-whitespace="normal"
                         data-type="text"
                         data-responsive_offset="on"
                         data-transform_idle="o:1;"
                         data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]">
                        Quả bưởi được rửa sạch sau đó tách vỏ --> Xắt Mỏng --> Zắt, Xả --> ướp đường --> Ngào --> Phơi/sấy.
                    </div>

                    <div class="tp-caption tp-resizeme slider_button"
                         data-x="['left','left','left','15','15']" data-hoffset="['0','15','15','0']"
                         data-y="['top','top','top','top']" data-voffset="['485','485','430','390','330']"
                         data-fontsize="['14','14','14','14']"
                         data-lineheight="['46','46','46','46']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]">
                        <a class="now_btn" href="#">Purchase now</a>
                    </div>
                </div>
            </li>
            <li data-index="rs-1588" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="img/home-slider/slider-7.jpg" data-rotate="0" data-saveperformance="off" data-title="Creative" data-param1="01" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                <img src="img/home-slider/slider-7.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="slider_text_box">
                    <div class="tp-caption tp-resizeme first_text"
                         data-x="['left','left','left','15','15']" data-hoffset="['0','15','15','0']"
                         data-y="['top','top','top','top']" data-voffset="['220','220','170','170','130']"
                         data-fontsize="['65','65','65','40','30']"
                         data-lineheight="['80','80','80','50','40']"
                         data-width="['800','800','800','400']"
                         data-height="none"
                         data-whitespace="normal"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                         data-textAlign="['left','left','left','left']">Gia Nguyễn <br /> Mức Quả Hạnh</div>

                    <div class="tp-caption tp-resizeme secand_text"
                         data-x="['left','left','left','15','15']" data-hoffset="['0','15','15','0']"
                         data-y="['top','top','top','top']" data-voffset="['388','388','340','290','225']"
                         data-fontsize="['20','20','20','20','16']"
                         data-lineheight="['28','28','28','28']"
                         data-width="['640','640','640','640','350']"
                         data-height="none"
                         data-whitespace="normal"
                         data-type="text"
                         data-responsive_offset="on"
                         data-transform_idle="o:1;"
                         data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]">
                        Ở Vĩnh Long, cây hạnh được trồng nhiều ở Vũng Liêm, Long Hồ, Trà Ôn,  Bình Tân và nhiều địa phương khác
                    </div>

                    <div class="tp-caption tp-resizeme slider_button"
                         data-x="['left','left','left','15','15']" data-hoffset="['0','15','15','0']"
                         data-y="['top','top','top','top']" data-voffset="['485','485','430','390','330']"
                         data-fontsize="['14','14','14','14']"
                         data-lineheight="['46','46','46','46']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]">
                        <a class="now_btn" href="#">Purchase now</a>
                    </div>
                </div>
            </li>
            <li data-index="rs-1589" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="img/home-slider/slider-8.jpg" data-rotate="0" data-saveperformance="off" data-title="Creative" data-param1="01" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                <img src="img/home-slider/slider-8.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="slider_text_box">
                    <div class="tp-caption tp-resizeme first_text"
                         data-x="['left','left','left','15','15']" data-hoffset="['0','15','15','0']"
                         data-y="['top','top','top','top']" data-voffset="['220','220','170','170','130']"
                         data-fontsize="['65','65','65','40','30']"
                         data-lineheight="['80','80','80','50','40']"
                         data-width="['800','800','800','400']"
                         data-height="none"
                         data-whitespace="normal"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                         data-textAlign="['left','left','left','left']">Gia Nguyễn <br /> Uy tín & Chất lượng</div>

                    <div class="tp-caption tp-resizeme secand_text"
                         data-x="['left','left','left','15','15']" data-hoffset="['0','15','15','0']"
                         data-y="['top','top','top','top']" data-voffset="['388','388','340','290','225']"
                         data-fontsize="['20','20','20','20','16']"
                         data-lineheight="['28','28','28','28']"
                         data-width="['640','640','640','640','350']"
                         data-height="none"
                         data-whitespace="normal"
                         data-type="text"
                         data-responsive_offset="on"
                         data-transform_idle="o:1;"
                         data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]">
                        Hiện nay, mứt “Nguyễn Gia” cũng đã có mặt tại nhiều cửa hàng thực phẩm trên toàn quốc.
                    </div>

                    <div class="tp-caption tp-resizeme slider_button"
                         data-x="['left','left','left','15','15']" data-hoffset="['0','15','15','0']"
                         data-y="['top','top','top','top']" data-voffset="['485','485','430','390','330']"
                         data-fontsize="['14','14','14','14']"
                         data-lineheight="['46','46','46','46']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]">
                        <a class="now_btn" href="#">Purchase now</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<!--================End Slider Area =================-->
<!--================Our Bakery Area =================-->
<section class="our_bakery_area p_100">
    <div class="container">
        <div class="our_bakery_text">
            <h2>Câu Chuyện Sản Phẩm </h2>
            <h6>Mứt “Gia Nguyễn” bắt nguồn từ câu chuyện trong gia tộc họ Nguyễn (gia tộc tôi) tại làng Tân Quới, tổng Vĩnh Trung, huyện Vĩnh An, phủ Định Viễn, trấn Vĩnh Thanh nay là tỉnh Vĩnh Long</h6>
            <p>Tổ tiên trong gia tộc tôi đến địa phương này sinh sống từ khoảng cuối thế kỷ XVIII, đầu thế kỷ XIX. Đến nay, còn hiện vật lưu lại là căn nhà cổ 169 năm tuổi. Gia tộc tôi với nghề truyền thống là làm nông nghiệp, chủ yếu là trồng lúa và cây ăn quả. Đối với cây bưởi, ngoài việc dùng múi bưởi từ quả, từ nhỏ tôi đã thấy bà tôi, mẹ tôi sử dụng vỏ, cùng lá và hoa bưởi nấu nước tắm hoặc gội đầu. Ngoài ra, trong xã hội phong kiến, những người phụ nữ Việt Nam nói chung cũng như những người phụ nữ trong gia tộc tôi rất siêng năng chăm chỉ trong việc “nữ công gia chánh”. Vì vậy, những ngày lễ tết, giỗ chạp,… lúc nào cũng có những món bánh, mứt truyền thống của gia tộc trong đó chè bưởi, mứt bưởi,…. điều đó được duy trì cho mãi đến ngày nay.</p>
            <p>Bưởi Năm Roi là đặc sản của địa phương tôi. Năm 2013, Cục sở hữu trí tuệ đã cấp Giấy chứng nhận bảo hộ chỉ dẫn địa lý cho sản phẩm Bưởi Năm Roi “Bình Minh”. Đồng thời, Bưởi Năm Roi cũng được bảo hộ tại 10 quốc gia ASEAN, 27 quốc gia và vùng lãnh thỗ thuộc Liên Minh Châu Âu. Với sản lượng khoảng 24.000 tấn mỗi năm, cung cấp cho thị trường các chợ đầu mối và siêu thị ở thành phố Hồ Chí Minh, Cần Thơ và xuất khẩu ra nước ngoài. Vì là đặc sản địa phương nên hầu như tất cả những buổi tiệc chiêu đãi khách đều không thiếu Bưởi Năm Roi được chế biến thành nhiều món khác nhau. Ngoài ra, bưởi Năm Roi và các sản phẩm chế biến từ quả bưởi còn được dùng làm quà biếu cho khách phương xa.</p>
            <p>Quay trở lại sản phẩm truyền thống của gia đình tôi, lúc đầu, gia đình tôi sản xuất chỉ để thết đãi họ hàng trong gia tộc, người thân, bạn bè. Khi mọi người dùng cảm nhận vừa miệng thì đặt mua. Ban đầu gia đình tôi cũng không bán mà chỉ biếu. Dần dần về sau số lượng khách đặt hàng càng nhiều. Từ đó, tôi bàn với các thành viên trong gia đình mở rộng quy mô sản xuất để phục vụ nhu cầu của khách hàng. Mặt khác cũng là để gìn giữ bảo tồn sản phẩm truyền thống của gia đình không bị mai một. Đồng thời cũng tạo ra sản phẩm đặc trưng làm quà biếu cho khách phương xa khi đến với Vĩnh Long.</p>
            <p>Được các thành viên trong gia đình ủng hộ, tôi bắt tay vào viết Dự án phát triển sản phẩm từ quả Bưởi Năm Roi với tên Dự án là “Xây dựng và phát triển thương hiệu Mứt Gia Nguyễn” tham gia cuộc thi “Ý tưởng và dự án khởi nghiệp tỉnh Vĩnh Long năm 2020” được các thành viên Hội đồng đánh giá cao. Tết Tân Sửu 2021, sản phẩm “Mứt Gia Nguyễn” được Tỉnh ủy, Ủy ban nhân nhân tỉnh Vĩnh Long lựa chọn đưa vào giỏ quà Tết của Tỉnh. Ngoài ra, sản phẩm “Mứt Gia Nguyễn” cũng được các cơ quan quản lý nhà nước hỗ trợ tham gia các chương trình xúc tiến thương mại.</p>
            <p>Hiện nay, mứt “Gia Nguyễn” cũng đã có mặt tại nhiều cửa hàng thực phẩm trên toàn quốc.</p>
        </div>
        <div class="row our_bakery_image">
            <div class="col-lg-4 col-sm-6">
                <img class="img-fluid" src="img/our-bakery/Gia-nguyen-1.jpg" alt="">
            </div>
            <div class="col-lg-4 col-sm-6">
                <img class="img-fluid" src="img/our-bakery/Gia-nguyen-2.jpg" alt="">
            </div>
            <div class="col-lg-4 col-sm-6">
                <img class="img-fluid" src="img/our-bakery/Gia-nguyen-3.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!--================End Our Bakery Area =================-->
<!--================Welcome Area =================-->
<section class="welcome_bakery_area pink_cake_feature">
    <div class="container">
        <div class="cake_feature_inner">
            <div class="title_view_all">
                <div class="float-left">
                    <div class="main_w_title">
                        <h2>Sản phẩm của chúng tôi</h2>
                        <h5>Mức Gia Nguyễn</h5>
                    </div>
                </div>
                <div class="float-right">
                    <a class="pest_btn" href="#">Xem tất cả sản phẩm</a>
                </div>
            </div>
            <div class="cake_feature_slider owl-carousel" id="api-shop">
       
            </div>
        </div>
    </div>
</section>
<!--================End Welcome Area =================-->
<!--================Service We offer Area =================-->
<section class="service_we_offer_area gray_service p_100">
    <div class="container">
        <div class="single_b_title">
            <h2>Dịch vụ từ Mức gia Nguyễn</h2>
        </div>
        <div class="row we_offer_inner">
            <div class="col-lg-4">
                <div class="s_we_item gray_s_item">
                    <div class="media">
                        <div class="d-flex">
                            <i class="flaticon-food-6"></i>
                        </div>
                        <div class="media-body">
                            <a href="#"><h4>Mức Vỏ Bưởi</h4></a>
                            <p>Sản phẩm mức làm tử nguyên liệu vỏ bưởi</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="s_we_item gray_s_item">
                    <div class="media">
                        <div class="d-flex">
                            <i class="flaticon-food-5"></i>
                        </div>
                        <div class="media-body">
                            <a href="#"><h4>Mức Quả Hạnh</h4></a>
                            <p>Sản phẩm mức làm tử nguyên liệu vỏ bưởi</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="s_we_item gray_s_item">
                    <div class="media">
                        <div class="d-flex">
                            <i class="flaticon-food-3"></i>
                        </div>
                        <div class="media-body">
                            <a href="#"><h4>Chứng nhận OCOP Vĩnh Long</h4></a>
                            <p>Có mặt trong nhiều cửa hàng thực phẩm trên toàn quốc</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="s_we_item gray_s_item">
                    <div class="media">
                        <div class="d-flex">
                            <i class="flaticon-book"></i>
                        </div>
                        <div class="media-body">
                            <a href="#"><h4>Sản phẩm truyền thống</h4></a>
                            <p>Gìn giữ bảo tồn sản phẩm đặc trưng</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="s_we_item gray_s_item">
                    <div class="media">
                        <div class="d-flex">
                            <i class="flaticon-food-4"></i>
                        </div>
                        <div class="media-body">
                            <a href="#"><h4>Giải thưởng</h4></a>
                            <p>Đạt giải thưởng cuộc thi ý tưởng khởi nghiệp</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="s_we_item gray_s_item">
                    <div class="media">
                        <div class="d-flex">
                            <i class="flaticon-transport"></i>
                        </div>
                        <div class="media-body">
                            <a href="#"><h4>Sản phẩm tốt</h4></a>
                            <p>Cung cấp giao hàng nhanh chóng khi khách đặt hàng</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Service We offer Area =================-->
<!--================End Client Says Area =================-->
<section class="our_chef_area p_100">
    <div class="container">
        <div class="row our_chef_inner">
            <div class="col-lg-3 col-6">
                <div class="chef_text_item">
                    <div class="main_title">
                        <h2>Our Chefs</h2>
                        <p>Lorem ipsum dolor sit amet, cons ectetur elit. Vestibulum nec odios Suspe ndisse cursus mal suada faci lisis. Lorem ipsum dolor sit ametion.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="chef_item">
                    <div class="chef_img">
                        <img class="img-fluid" src="img/chef/chef-1.jpg" alt="">
                        <ul class="list_style">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        </ul>
                    </div>
                    <a href="#"><h4>Michale Joe</h4></a>
                    <h5>Expert in Cake Making</h5>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="chef_item">
                    <div class="chef_img">
                        <img class="img-fluid" src="img/chef/chef-2.jpg" alt="">
                        <ul class="list_style">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        </ul>
                    </div>
                    <a href="#"><h4>Michale Joe</h4></a>
                    <h5>Expert in Cake Making</h5>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="chef_item">
                    <div class="chef_img">
                        <img class="img-fluid" src="img/chef/chef-3.jpg" alt="">
                        <ul class="list_style">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        </ul>
                    </div>
                    <a href="#"><h4>Michale Joe</h4></a>
                    <h5>Expert in Cake Making</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Client Says Area =================-->
<!--================Bakery Video Area =================-->
<section class="bakery_video_area">
    <div class="container">
        <div class="video_inner">
            <h3>Real Taste</h3>
            <p>A light, sour wheat dough with roasted walnuts and freshly picked rosemary, thyme, poppy seeds, parsley and sage</p>
            <div class="media">
                <div class="d-flex">
                    <a class="popup-youtube" href="http://www.youtube.com/watch?v=0O2aH4XLbto"><i class="flaticon-play-button"></i></a>
                </div>
                <div class="media-body">
                    <h5>Watch intro video <br />about us</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Bakery Video Area =================-->
<!--================Client Says Area =================-->
<!--================End Client Says Area =================-->
<!--================Latest News Area =================-->
 @{ await Html.RenderPartialAsync("_SlideTinTuc"); }
<!--================End Latest News Area =================-->
<!--================Order Now Form Area =================-->
<section class="order_now_area">
    <div class="container">
        <div class="single_pest_title">
            <h2>Đăng ký</h2>
        </div>
        <div class="order_now_inner">
            <form class="order_now_form row" action="http://designarc.biz/demos/cake/theme/cake-html/contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                <div class="form-group col-lg-6">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Tên của bạn">
                </div>
                <div class="form-group col-lg-6">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                </div>
                <div class="form-group col-lg-6">
                    <input type="text" class="form-control" id="phone" name="phone" placeholder="Số điện thoại">
                </div>
                <div class="form-group col-lg-6">
                    <input type="text" class="form-control" id="address" name="address" placeholder="Đại chỉ">
                </div>
                <div class="form-group col-lg-6">
                    <input type='text' class="form-control" id="datetimepicker3" placeholder="Ngày">
                </div>
                <div class="form-group col-lg-6">
                    <input type='text' class="form-control" id="datetimepicker4" placeholder="5.30 pm">
                </div>
                <div class="form-group col-lg-12">
                    <textarea class="form-control" name="details" id="details" rows="1" placeholder="Nội dung"></textarea>
                </div>
                <div class="form-group col-lg-12">
                    <button type="submit" value="submit" class="btn order_s_btn form-control">Gửi thông tin</button>
                </div>
            </form>
        </div>
    </div>
</section>
<!--================End Order Now Form Area =================-->
