@{
    ViewData["Title"] = "Xin Chào .....";
}


<!--================End Main Header Area =================-->
<section class="banner_area">
    <div class="container">
        <div class="banner_text">
            <h3>Liên Hệ Gia Nguyễn</h3>
            <ul>
                <li><a href="../">Trang chủ</a></li>
                <li><a href="../lien-he">Liên hệ chúng tôi</a></li>
            </ul>
        </div>
    </div>
</section>
<!--================End Main Header Area =================-->
<!--================Contact Form Area =================-->
<section class="contact_form_area p_100">
    <div class="container">
        <div class="main_title">
            <h2>Thông tin liên lạc</h2>
            <h5>Hãy gửi thông tin đến chúng tôi để được hỗ trợ về sản phẩm và dịch vụ</h5>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <form class="row contact_us_form" action="http://designarc.biz/demos/cake/theme/cake-html/contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Họ và tên">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                    </div>
                    <div class="form-group col-md-12">
                        <input type="text" class="form-control" id="subject" name="subject" placeholder="Tiêu đề">
                    </div>
                    <div class="form-group col-md-12">
                        <textarea class="form-control" name="message" id="message" rows="1" placeholder="Nội dung"></textarea>
                    </div>
                    <div class="form-group col-md-12">
                        <button type="submit" value="submit" class="btn order_s_btn form-control">Gửi thông tin</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 offset-md-1">
                <div class="contact_details">
                    <div class="contact_d_item">
                        <h3>Địa chỉ :</h3>
                        <p>Số 1251, tổ 13, ấp Tân Phước, xã Tân Bình<br /> huyện Bình Tân, tỉnh Vĩnh Long</p>
                    </div>
                    <div class="contact_d_item">
                        <h5>Điện thoại : <a href="tel:0919567137">0919.567.137</a></h5>
                        <h5>Email : <a href="mailto:rockybd1995@gmail.com">nttha2011@gmail.com</a></h5>
                    </div>
                    <div class="contact_d_item">
                        <h3>Giờ làm việc :</h3>
                        <p>8:00 AM – 10:00 PM</p>
                        <p>Thứ 2 – Chủ nhật</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Contact Form Area =================-->
<!--================End Banner Area =================-->
<section class="map_area">
    <div id="mapBox" class="mapBox row m0"
         data-lat="40.701083"
         data-lon="-74.1522848"
         data-zoom="13"
         data-marker="img/map-marker.png"
         data-info="54B, Tailstoi Town 5238 La city, IA 522364"
         data-mlat="40.701083"
         data-mlon="-74.1522848">
    </div>
</section>
<!--================End Banner Area =================-->
<!--================Newsletter Area =================-->
<section class="newsletter_area">
    <div class="container">
        <div class="row newsletter_inner">
            <div class="col-lg-6">
                <div class="news_left_text">
                    <h4>Đăng ký nhận nhiều thông tin hơn</h4>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="newsletter_form">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Điền thông tin email">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button">Đăng ký ngay</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Newsletter Area =================-->
